In [17]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
gender = pd.read_csv("gender.csv")
gender

,Unnamed: 0,Calculation1,School,City,County/State/ Territory,Count,Gender,Pivot Field Values
0,0,21ST CENTURY EXPERIMENTAL SCH694223,21ST CENTURY EXPERIMENTAL SCH,NaN,NaN,App,Male,5
1,1,21ST CENTURY EXPERIMENTAL SCH694223,21ST CENTURY EXPERIMENTAL SCH,NaN,NaN,App,Female,6
2,2,21ST CENTURY EXPERIMENTAL SCH694223,21ST CENTURY EXPERIMENTAL SCH,NaN,NaN,App,All,11
3,3,A & M CONSOLIDATED HIGH SCHOOL441400,A & M CONSOLIDATED HIGH SCHOOL,College Station,TX,App,Male,6
4,4,A & M CONSOLIDATED HIGH SCHOOL441400,A & M CONSOLIDATED HIGH SCHOOL,College Station,TX,Adm,Female,4
...,...,...,...,...,...,...,...,...
8312,8312,ZHIXIN HIGH SCHOOL694022,ZHIXIN HIGH SCHOOL,NaN,NaN,App,Male,7
8313,8313,ZHIXIN HIGH SCHOOL694022,ZHIXIN HIGH SCHOOL,NaN,NaN,App,Female,7
8314,8314,ZHIXIN HIGH SCHOOL694022,ZHIXIN HIGH SCHOOL,NaN,NaN,App,All,14
8315,8315,ZIBO EXPERIMENTAL HIGH SCHOOL694601,ZIBO EXPERIMENTAL HIGH SCHOOL,NaN,NaN,App,All,6
8316,8316,ZURICH INTERNATIONAL SCHOOL796330,ZURICH INTERNATIONAL SCHOOL,NaN,NaN,App,All,6